* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b1120;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #111827;
}

header h1 {
    color: #22c55e;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 45px;
}

.hero span {
    color: #22c55e;
}

.hero button {
    margin-top: 25px;
    padding: 15px 30px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1f2937;
    padding: 25px;
    width: 220px;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}
